$light-grey-blue: #cedaee;
$light-grey: #edf1f7;

$font-sm: 49.33px; // 36pt
$font-md: 20px; // 40pt
$font-lg: 74.66px; // 56pt

$contact-form-txt: $font-sm;
$work-subtitle-txt: $font-md;
$section-title-txt: $font-lg;

// Default body styles
body {
	font-family: 'AzoSans', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;

	&:hover {
		background-color: white;
	}
}

.container {
	@include outer-container;
}