$light-grey-blue: #cedaee;
$light-grey: #edf1f7;

$font-sm: 16px;
$font-md: 20px;
$font-lg: 31px;

$contact-form: $font-sm;
$work-subtitle: $font-md;
$section-title: $font-lg;

// Default body styles
body {
	font-family: 'AzoSans', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;

	&:hover {
		background-color: white;
	}
}

// Mixin
@mixin section-title {
	text-align: center;
	font-size: $section-title;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	top: 5px;
}

@mixin section-background {
	text-align: center;
	position: relative;
	bottom: 80px;
}