<section id="dev">
	<span class="section-title">Front-End Development</span>

	<p class="dev-sec-title">HTML:
		<span class="dev-sec-content">
			Lorem ipsum dolor sit amet, consectetur adipisc	ing elit. Sed aliquet vel leo id tincidunt
		</span>
	</p>
	<p class="dev-sec-title">CSS:
		<span class="dev-sec-content">
			Lorem ipsum dolor sit amet, consectetur adipisc	ing elit. Sed aliquet vel leo id tincidunt
		</span>
	</p>
	<p class="dev-sec-title">Javascript:
		<span class="dev-sec-content">
			Lorem ipsum dolor sit amet, consectetur adipisc	ing elit. Sed aliquet vel leo id tincidunt
		</span>
	</p>	
	<p class="dev-sec-title">Frameworks:
		<span class="dev-sec-content">
			Lorem ipsum dolor sit amet, consectetur adipisc	ing elit. Sed aliquet vel leo id tincidunt
		</span>
	</p>	
</section>