<section id="dev">
	<span class="section-title">Front-End Development</span>

	<p class="dev-sec-title">HTML:
		<span class="dev-sec-content">
			I write semantic HTML5 code and keep up with the best practices
		</span>
	</p>
	<p class="dev-sec-title">CSS:
		<span class="dev-sec-content">
			I write SASS instead of CSS for better code stucture and keep styles organized and clean
		</span>
	</p>
	<p class="dev-sec-title">JavaScript:
		<span class="dev-sec-content">
			I mainly use jQuery for interactive websites. I'm actively trying to get better at JavaScript to build web applications.
		</span>
	</p>	
	<p class="dev-sec-title">Frameworks:
		<span class="dev-sec-content">
			I love frameworks! BootStrap is my favorite but I'm slowly moving away from it.
		</span>
	</p>	
</section>