<section id="myself">
	<span class="section-title">About Myself</span>
	
	<div class="contain-description">
		<p class="myself-description">
			I'm a Web Developer and Entrepreneur located in Binghamton, NY from NYC. I love the web and business.
		</p>
		<p class="myself-description">
			I enjoy taking visions and turning them into clean, simple and minimalist websites. Writing clean and effective code is something I strive for, whether it's HTML, CSS or Javascript. I'm an active learner, there is always something new to learn about the web and business everyday.
		</p>
	</div>
</section>