<section id="myself">
	<span class="section-title">About Myself</span>
	
	<div class="contain-description">
		<p id="myself-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat, mi quis blandit finibus, massa sem sodales arcu, sit amet pellentesque mi arcu quis nunc. Vestibulum laoreet neque nec elit egestas, sit amet aliquam lorem pharetra. Vivamus nec nulla sit amet lacus faucibus aliquet. Donec maximus urna sed fermentum lacinia. Curabitur tincidunt posuere fringilla. Proin id ex quam. Pellentesque at ullamcorper libero. Curabitur viverra mi sed elementum luctus. Proin consectetur, risus ut facilisis ornare, nibh diam pellentesque orci, ut imperdiet felis dui nec risus. Suspendisse neque urna, lobortis eu justo iaculis, porta pellentesque eros. Praesent ipsum est, tempor vitae eros vitae, molestie elementum lectus.</p>
	</div>
</section>