#contact {
	@include clearfix;
	background: $light-grey;
	@include section-background;
	padding-bottom: 5px;

	.section-title {
		@include section-title;
	}

	#icons {
		padding-top: 15px;

		.svg-icons {
			padding-right: 5px;
		}

	}

	#email {
		font-size: $font-sm-md;
		margin-top: -5px;

		hr {
			border: 0;
			border-top: 2px solid black;
			width: 40%;
			margin-top: -11px;
		}

	}

	#form {
		input {
			text-align: center;
		}
		textarea {
			text-align: center;
			display: block;
			margin: 0 auto;
			margin-top: 15px;
			height: 100px;
			width: 60vw;
			resize: none;
		}

	}

}