header {
	@include clearfix;
	background: url('img/header.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 280px;

	.logo {
		@include size(25px 25px);
		@include position(relative, 18px null null 25px);
		float: left;
		background-color: black;
	}

	.navbar {
		float: right;
		text-align: center;
		margin-right: 20px;
		font-size: $font-md;
		font-weight: 300;
		text-transform: uppercase;

		> li {
			display: inline-block;
			padding-right: 15px;
		}
	}
	
} // end header