#work {
	@include clearfix;
	background: $light-grey-blue;
	@include section-background;
	padding-bottom: 5px;

	.section-title {
		@include section-title;
	}

	.work-display {
		@include span-columns(6);
		padding-top: 15px;

		img {
			@include size (150px 150px);
		}

	}
}